:root {
  --red: #eb0028;
  --black: #000000;
  --white: #ffffff;
  --footer-text: #979797;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-weight: 700;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.nav {
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 3.2rem;
  position: fixed;
}

.nav-bg {
  background-color: var(--black);
}

.nav .nav-logo img {
  width: 15rem;
}

.nav .nav-links a {
  margin: 0 1.5rem;
  color: var(--white);
  font-weight: 550;
  font-size: 19px;
}

.nav .nav-links a.s1 {
  color: var(--red); /* Specifically targets the "Season 1" link */
}
.nav .nav-links a:hover {
  border-bottom: 1px solid var(--red);
  padding-bottom: 0.5rem;
}

#toggle,
#sidebar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Lumiere {
  width: 100%;
  padding-top: 0%;
  margin-top: 0%;
}

.container-leads {
  margin-top: 10%;
  padding-bottom: 0%;
}

h1 {
  font-weight: 700;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.nav {
  top: 0;
  width: 100vw;
  display: flex;
}
/* h1 {
    font-size:xx-large;
    color: #ff2500;
    padding-left:  20px;
    margin-left:  70px;
  } */

.container-as {
  margin-top: -150px;
}

.leads-sub-heading {
  padding-left: 30px;
}

.Lumiere-container {
  padding-top: 0px;
}

.Lumiere-container h1 {
  line-height: normal;
  background: linear-gradient(90deg, #ff2500 0.41%, #ffffff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 20px;
  margin-left: 70px;
}

.container-Avenir h1 {
  line-height: normal;
  background: linear-gradient(90deg, #ff2500 0.41%, #ffffff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 20px;
  margin-left: 70px;
}

/* ====================== Speakers Page Start ================= */

.nav-bg {
  background-color: var(--black);
}

.nav .nav-logo img {
  width: 15rem;
}

.nav .nav-links a {
  margin: 0 2rem;
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
}

.nav .nav-links a:hover {
  border-bottom: 1px solid var(--red);
  padding-bottom: 0.5rem;
}

#toggle,
#sidebar {
  display: none;
}

/* __________________________Season 1 new code _________________________ */
.leads {
  width: 100%;
  height: auto;
}

.Lumiere {
  margin: -11rem 8rem 1rem 0.1rem;
  width: 100%;
  height: 5%;
}

.container-leads {
  margin-top: 8rem;
}

.section-sub h6,
img {
  margin-top: 0.75rem;
}

.Avenir {
  width: 100%;
}

.box h1,
.container-Avenir h1 {
  font-size: x-large;
  background: linear-gradient(90deg, #ff2500 2%, #ffffff 20%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 2px;
  margin: -6rem 0rem 1rem 6rem;
}

.container-Avenir h1 {
  margin-top: -11rem;
}

.container-as {
  margin-top: -150px;
}

.leads-sub-heading {
  padding-left: 30px;
}

/* ====================== Speakers Page Start ================= */
.speakers-container {
  margin: 5rem 1rem 15rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.speakers-container img {
  width: 88%;
  margin: 1rem 1rem 0.15rem 1rem;
}

.speakers-container-sub {
  background-color: rgb(34, 25, 25);
  border-radius: 5px;
}

button {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  margin: 1rem 2rem 0.75rem 1.5rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: #ff2500;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0.3rem;
  color: white;
}

.yt-link svg {
  width: 0.5rem;
}

.yt-link p {
  font-size: 0.5rem;
  letter-spacing: 0.5px;
}

/* ================================================================ */
/* ====================Sponsor Page Start ============= */
.sponsor-title {
  padding-top: 2rem;
  font-size: 2rem;
  background: linear-gradient(90deg, #ff2500 0.41%, #ffffff 50.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.sponsor-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 250px);
  /* grid-template-rows: repeat(2,350px); */
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.sponsor-container .box {
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 12px;
}

.sponsor-container .box:hover {
  border: 1px solid var(--red);
  cursor: pointer;
}

.sponsor-container .box .first {
  width: 11rem;
  height: 11rem;
}

.sponsor-container .box .second {
  width: 11rem;
}
.sponsor-container .box .third {
  width: 11rem;
}
.sponsor-container .box .fourth {
  width: 11rem;
  /* mix-blend-mode:col; */
}
.sponsor-container .box .fifth {
  width: 11rem;
}
.sponsor-container .box .sixth {
  width: 11rem;
}
.sponsor-container .box .seventh {
  width: 11rem;
}
/* ==================== Sponsor Page End =============== */

/* ============================= Contact Section Start ============================= */

.contact-sub {
  margin-top: 2rem;
}

.contact {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 50px;
  margin-top: 250px;
}

.contact .left-section {
  margin-top: -7px;
}

.contact .left-section .content h1 {
  background: linear-gradient(90deg, #ff2500 0.21%, #ffffff 23.71%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 0;
  margin-left: 50px;
}

.contact .left-section .content p {
  max-width: 230px;
  line-height: 20px;
}

.contact .left-section .map {
  margin-top: 1.45rem;
  margin-left: 50px;
}

.contact .left-section .map img {
  width: 309px;
}

.contact .left-section .map img:hover {
  cursor: pointer;
  scale: 0.9;
  transition-duration: 1s;
}

.contact .left-section .map fieldset {
  border-radius: 20px;
  width: 0px;
}

.contact .left-section .map fieldset legend {
  margin-left: 15px;
  padding: 0 2px;
}

.contact .right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 50px;
  padding-top: 20px;
}

.contact .right-section .right-field {
  padding: 1.5rem 1.5rem;
  border-radius: 20px;
  width: 96%;
}

.contact .right-section form {
  display: flex;
  flex-direction: column;
}

.contact .right-section form ::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.contact .right-section .right-field form fieldset {
  margin-top: 1.4rem;
  border-radius: 6px;
}

.contact .right-section .right-field form fieldset legend {
  margin-left: 15px;
  padding: 0 2px;
}

.contact .right-section .right-field form input {
  border: none;
  background-color: var(--black);
  outline: none;
  padding: 10px 0 15px 17px;
  color: var(--white);
  font-size: medium;
  width: 100%;
}

.contact .right-section .right-field form textarea {
  border: none;
  background-color: var(--black);
  outline: none;
  resize: none;
  padding: 10px 10px 10px 17px;
  color: var(--white);
  font-size: medium;
  width: 100%;
  font-family: "Arial";
}

.contact .right-section .right-field form .form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2.5rem;
}

.contact .right-section .right-field form .form-footer a {
  font-size: small;
  color: var(--red);
}

.contact .right-section .right-field form .form-footer a:hover {
  cursor: pointer;
  opacity: 0.9;
}

.contact .right-section .right-field form .form-footer button {
  padding: 15px 40px;
  background-color: var(--red);
  color: var(--white);
  border-radius: 8px;
  font-weight: 700;
  border: none;
  outline: none;
}

.contact .right-section .right-field form .form-footer button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.contact-email {
  color: var(--white);
  padding: 0.45rem 0.45rem;
  border-radius: 8px;
  width: 96%;
  text-align: center;
}

.contactpara {
  margin-left: 50px;
}

.section-sub {
  margin-top: 0rem 0rem 2rem 0rem;
  display: flex;
  align-items: center;
  gap: 7px;
}

.section-sub img {
  width: 12px;
  margin-left: 10rem;
}

.section-sub h6 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

/* ============================= Contact Section End ============================= */

/* ============================= Footer Section Start ============================= */
.footer-distributed {
  width: 100%;
  padding-bottom: 20px;
  margin-top: 100px;
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 6rem;
}

/* .footer-distributed .footer-left, */
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  vertical-align: top;
}

/* Footer left */
/* .footer-distributed .footer-left {
  width: 40%;
} */

/* Footer Center */
.footer-distributed .footer-center {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.footer-distributed .footer-center p,
.footer-distributed .footer-right p {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 20px;
}

/* .footer-distributed .footer-center a,
.footer-distributed .footer-right a {
  display: block;
  color: var(--footer-text);
  font-size: 14px;
  line-height: 20px;
} */

.footer-distributed .footer-center .socials {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.footer-distributed .footer-center .socials svg,
.footer-distributed .footer-right svg {
  width: 1.7rem;
  height: 1.7rem;
}

.footer-distributed .footer-center .socials svg:hover,
.footer-distributed .footer-right svg:hover {
  color: var(--red);
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 15%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: var(--footer-text);
  font-size: 13px;
}

/* ============================= Footer Section End ============================= */
