.season1 {
  margin: top -10px;
  padding: 6rem 0rem 2.5rem 1.5rem;
}
.section-sub-container-index {
  display: flex;
  align-items: center;
  gap: 7px;
}

.section-sub-container-index-img {
  width: 12px;
  margin-left: 2rem;
}
.leads-container {
  width: 100%;
  overflow: hidden;
}

.leads {
  object-fit: fill;
  width: 100%;
  height: auto;
}

.Pre-event {
  padding: 0px 0px 0px 3.5rem;
  margin: -75px 0px 0px 0rem;
  position: relative;
  z-index: 836;
}
.Main-event {
  padding: 0px 0px 0px 3.5rem;
  margin: -115px 0px 0px 0rem;
  position: relative;
  z-index: 836;
}

.Pre-event1 {
  width: 100%;
  overflow: hidden;
}
.Lumiere {
  margin: -5rem 0rem 0rem 0rem;
  z-index: 10;
  object-fit: fill;
  width: 100%;
  height: auto;
}
.Main-event1 {
  width: 100%;
  overflow: hidden;
}
.Avenir {
  margin-top: 10px;
  object-fit: fill;
  width: 100%;
  height: auto;
}
.heading {
  font-size: x-large;
  background: linear-gradient(90deg, #ff2500 2%, #ffffff 20%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 2px;
}
@media (max-width: 950px) {
  .season1 {
    padding: 5rem 0rem 0rem 0.5rem;
  }
  .Pre-event {
    padding: 0px 0px 0px 2.5rem;
    margin: -28px 0px 0px 0rem;
  }
  .Lumiere {
    margin: -3rem 0rem 0rem 0rem;
  }

  .Main-event {
    padding: 0px 0px 0px 2.5rem;
    margin: -45px 0px 0px 0rem;
    position: relative;
    z-index: 836;
  }
}
